.about-header-container{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.about-copyright{
  width: 100%;
  min-height:56vh;
  padding-top: 12vh;
  padding-bottom: 10vh;
  text-align: center;
    --s: 34px; /* control the size (the circle diameter) */
    --c1: aqua;
    --c2: #030e2b;
    
    --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
    background:
      var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
      repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
      repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
    background-size: calc(4*var(--s)) calc(4*var(--s));
  
}
.about-copyright .cp-title{
  font-size: 3.5rem;
  line-height: 3rem;
  margin-bottom: 40px;
  font-family: 'Nexa-ExtraLight',sans-serif;
}
.about-copyright .cp-content{
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  background-color: #192141;
}
.about-copyright .cp-contents{text-align: left;
  line-height: 2rem;
}
@media(max-width:755px){
  .about-copyright .cp-content{
    width: 100%;
  }
  .about-copyright .cp-contents{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.about-header-container {
    /* background-color: #1488CC; */
    /* background: radial-gradient(circle at 0% 50%, #2b32b2 9px, rgba(96, 16, 48, 0) 10px, #2b32b2 11px) 0px 10px, radial-gradient(at 100% 100%, #2b32b2 9px, rgba(96, 16, 48, 0) 10px, #2b32b2 11px), #3797cf; */
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/2017090798131554668/DFEA0DE75E0838BCD326124B9646157B55E81EA0/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    background-size: cover;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 85vh;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-attachment: fixed;
}
/* 2b32b2 1488CC */
.about-header-container .about-header{
    filter: brightness(2);
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.about-header-container .about-header .site-title{
    font-size: 35px;
    letter-spacing: 10px;
    display: block;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'MotivaSansThin',sans-serif;
}
@media only screen and (min-width: 550px){
    .about-header-container .about-header .site-title{
        margin: 30px;
        font-size: 70px;
    }
}
.about-header-container .about-header .site-desc{
    font-size: 20px;
    display: block;
    line-height: 1;
    margin-top: 10px;
    font-family: 'Nexa-ExtraLight',sans-serif;
}
@media only screen and (min-width: 550px){
    .about-header-container .about-header .site-desc{
        margin: 30px;
        font-size: 40px;
    }
}
.about-header-container .about-header .about-icons{
 margin: 10px;   
}
.about-header-container .about-header .about-icons .about-icon{
    display: inline-block;
    text-rendering: auto;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    transition: all 0.5s;
}
.about-header-container .about-header .about-icons .about-icon:hover{
 font-size: 35px;
  transition: all 0.5s;
}
@media only screen and (min-width: 550px){
    .about-header-container .about-header .about-icons .about-icon{
        font-size: 30px;
    }
}
.about-icon-us {
    margin-top: 50px;
    color: #fff;
    text-decoration: none;
    border:1px solid #2b32b2;
    padding: 10px;
    border-radius: 10px;
}
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
.explore  a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
  }
  
  .mainImg {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.headingText {
    font-size: 2.5rem;
    font-family: 'Nexa-ExtraLight',sans-serif;
    font-weight: 0;
    line-height: 30px;
    color: #fff;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .text-blk.subHeadingText {
    color: #60b8ea;
    font-size: 26px;
    font-family: 'Nexa-Heavy',sans-serif;
    line-height: 32px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .text-blk.description {
    font-family: 'MotivaSans',sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    font-weight: 400;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .explore {
    font-family: 'Nexa-Heavy',sans-serif;
    font-size: 20px;
    line-height: 28px;
    color:#fff;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
   border-style: solid;
    border-color: #192141;
    cursor: pointer;
    background-color: #2b32b2;
   margin: 0;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
    transition: 0.5s all ease;
  }
  
  .explore:hover {
    background-color: #1488CC;
    color: #192141;
  }
  
  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
    flex-direction: row-reverse;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    position: static;
  }
  
  .allText.aboveText {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }
  
  .allText.bottomText {
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .purpleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 430px;
    background-color: #1488CC;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -35px;
    left: -8%;
  }
  
  .purpleText {
    font-family: 'Oasis',sans-serif;
    font-size: 4rem;
    line-height: 26px;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .ultimateImg {
    width: 50%;
    position: relative;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      max-width: 850px;
    }
  
    .mainImg {
      width: 55%;
      height: auto;
    }
  
    .allText {
      width: 40%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin-top: 80px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .responsive-container-block.Container {
      max-width: 830px;
    }
  
    .allText.aboveText {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 40px;
    }
  
    .allText.bottomText {
      margin-top: 30px;
      margin-right: 40px;
      margin-bottom: 0px;
      margin-left: 0px;
      text-align: left;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .allText.aboveText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .text-blk.subHeadingText {
      text-align: left;
      font-size: 26px;
      line-height: 32px;
    }
  
    .text-blk.description {
      text-align: left;
      line-height: 24px;
    }
  
    .explore {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 30px;
    }
  
    .responsive-container-block.Container {
      justify-content: space-evenly;
    }
  
    .purpleBox {
      bottom: 10%;
    }
  
    .responsive-container-block.Container.bottomContainer {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      max-width: 930px;
    }
  
    .allText.bottomText {
      width: 40%;
    }
  
    .purpleBox {
      bottom: auto;
      left: -10%;
      top: 70%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .text-blk.headingText {
      text-align: left;
    }
  }
  
  @media (max-width: 768px) {
    .allText {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .responsive-container-block.Container {
      flex-direction: column;
      height: auto;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .text-blk.subHeadingText {
      text-align: center;
      font-size: 24px;
    }
  
    .text-blk.description {
      text-align: center;
      font-size: 18px;
    }
  
    .allText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .allText.aboveText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.Container {
      margin-top: 80px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .allText.bottomText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .mainImg {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: -70px;
      margin-left: 0px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      flex-direction: column;
    }
  
    .ultimateImg {
      width: 100%;
    }
  
    .purpleBox {
      position: static;
    }
  
    .allText.bottomText {
      width: 100%;
      align-items: flex-start;
    }
  
    .text-blk.headingText {
      text-align: left;
    }
  
    .text-blk.subHeadingText {
      text-align: left;
    }
  
    .text-blk.description {
      text-align: left;
    }
  
    .ultimateImg {
      position: static;
    }
  
    .mainImg {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .ultimateImg {
      position: relative;
    }
  
    .purpleBox {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      position: absolute;
      left: 0px;
      top: 80%;
    }
  
    .allText.bottomText {
      margin-top: 100px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.Container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      max-width: 100%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-left: 25px;
    }
  
    .text-blk.subHeadingText {
      font-size: 24px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      line-height: 28px;
    }
  
    .text-blk.description {
      font-size: 16px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      line-height: 22px;
    }
  
    .allText {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }
  
    .allText.bottomText {
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      padding: 0 0 0 0;
      margin: 30px 0 0 0;
    }
  
    .ultimateImg {
      position: static;
    }
  
    .purpleBox {
      position: static;
    }
  
    .stars {
      width: 55%;
    }
  
    .allText.bottomText {
      margin-top: 75px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    
  
    .explore {
      padding: 6px 35px 6px 35px;
      font-size: 15px;
    }
  }

  .about-team-container{
    margin: auto;
    width: 60%;
    margin-top: 150px;
    margin-bottom: 100px;
    transition: 1s all ease;
  }
  .about-team-container .accordion_faq .inactive{
    display: none;
    transition: 1s all ease;
  }
  .about-team-container .accordion_faq .active{
    background-color: #192141;
    display: block;
    transition: 1s all ease;

  }
  .about-team-container .accordion_faq .accordion_item{
    padding: 20px 15px;
    transition: 1s all ease;
    margin-top: 20px;
    background-color: #192141;

  }
  .about-team-container .accordion_faq .accordion_item p{
    padding: 20px 15px;
    transition: 1s all ease;
    line-height: 1.8rem;
  }
  .about-team-container .accordion_faq{
    margin-top: 30px;
    border-radius: 10px;
  }
  .about-team-container .accordion_faq .verticle{
    position: relative;
    cursor: pointer;
    transition: 1s all ease;
float: right;   
 margin-top: -20px;
 margin-left: 50px;
  }

  .team-wrapper{
    margin-top: 200px;
}


.team-wrapper h1{
  font-family: 'Nexa-ExtraLight', cursive;
  font-size: 52px;
  margin-bottom: 100px;
  text-align: center;
  font-weight: 100;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 40px;
  padding-bottom: 60px;
  line-height: 1.5rem;
  color: #8e8b8b;  
  font-weight: 700;
  position: relative;
  margin-right: 50px;
}

.team .team_member h3{
  color: #2b32b2;
  font-size: 26px;
  margin-top: 50px;
}
.team .team_member .role-desc{
      text-align: left;
      position: relative;
      top: 20px;

}
.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;

}
.copy{
  padding: 50px;
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
}
.about-final .heading{
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
  line-height: normal;
}
.about-final .social-icons-container{
  margin-top: 50px;
}
.about-final .social-icons-container .socialIcon{
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: transparent;
  color: #2ae2d6;
  margin-right: 15px;
  font-size: 14px;
  transition: all .3s ease-in-out;
}
.about-final .social-icons-container .socialIcon:hover{
  background: #2ae2d6;
  color: #fff;
  cursor: pointer;
}
@media (max-width:412px){
  .team .team_member{
    margin-right: 0;
  }
}