.game-deck{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    margin-bottom: 200px;
}
.game-deck .cart-page{
    box-shadow: 0px 15px 20px rgba(49, 199, 226, 0.4);
    margin: 80px auto;
    background-color: #030e2b;
}
.game-deck h1{
    text-align: center;
    font-size: 3rem;
}
.game-deck .cart-page table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: blue 0px 0px 0px 2px inset, #030e2b 10px -10px 0px -3px, blue 10px -10px, #030e2b 20px -20px 0px -3px, blue 20px -20px,#030e2b 30px -30px 0px -3px, blue 30px -30px;
}
/* .game-deck .cart-page .quantity{
    width: 150px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
} */
.input-group {
    display: flex;
    align-items: center;
  }
  
  #myInput {
    text-align: center;
    width: 75px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
  }
  
  #decrementButton,
  #incrementButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #5c9eff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  
  #decrementButton:hover,
  #incrementButton:hover {
    background-color: #3c8be7;
  }
  
  #myInput:focus {
    outline: none;
    border-color: #5c9eff;
    box-shadow: 0 0 5px #5c9eff;
  }
  
.game-deck .cart-page table .cart-info img{
    width:20em;
    border-radius: 10px;
}
.game-deck .cart-page table .cart-info{
    padding: 50px;
}
.game-deck .cart-page table tbody tr{
  background-color: #030e2b;

    border: 1px solid #5c9eff;
}
.game-deck .cart-page table th{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    padding: 10px;
    color: #fff;
    background:rgba(36, 86, 235, 0.801);
}
.game-deck
.game-deck .cart-page table td{
   padding: 10px 5px;
   
}
.game-deck .cart-page table td input{
   width: 40px;
   height: 30px;
   padding: 5px;
 }

 .game-deck .cart-page table td a{
    color: #ff523b;
    font-size: 2rem;
    cursor: pointer;
  }
  .game-deck .cart-page  .details{
    width: 350px;
  }
  .game-deck .cart-page .details p{
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 2rem;
    font-family: 'Nexa-Heavy',sans-serif;
  }
  @media (max-width:1200px){
    .game-deck .cart-page table .cart-info img{
        width:10em;
  }
  .game-deck .cart-page .details{
    font-size: 1rem;
    max-width: 250px;
  }
  }
  @media (max-width:870px){
    .game-deck{
      overflow-x:auto
    }
    
  }
  @media (max-width:468px){
    .game-deck h1 {
      font-size: 2rem;
  }
  }
  .game-deck .cart-page .link-a-juego{
    width: 300px;
  }
  .game-deck .cart-page .link-a-juego a{
    color: aqua;
  }
  .game-deck .cart-page .remove{
    width: 150px;
  }
  .game-deck .cart-page  .details p, 
  .game-deck .cart-page .details small,
  .game-deck .cart-page .details a{
    padding: 20px;
  }
  @media screen and (max-width: 500px) {
    .game-deck .cart-page table{
     color: #fff;
    }
}
.no-juegos td {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
}

.no-juegos td::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  background-image: url('../assets/img/other/yeti.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.no-juegos td p {
  position: relative;
  z-index: 3;
  font-size: 3rem;
  font-family: 'Nexa-Heavy', sans-serif;
  filter: brightness(2);
}

  

