.chat-pop{
    z-index: 10;
    width: 100%;
    text-align: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    transition: all 0.7s;
    bottom: 50%;  
}
@media(min-width:500px){
    .chatty{
        font-size: 30px;
    border: 1px solid #444cf7;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-decoration: none;
    color: #444cf7;
    transition: all 0.5s;
    border-right: none;
    background-color: azure;
    }
    .chatty:hover{
        border: 1px solid #444cf7;
        background-color: #030e2b;
        color: #fff;
        border-right: none;
        padding-right: 3rem;
        padding-left: 3rem;
        cursor: pointer;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 10px 10px;
      }
}
@media(max-width:500px){
    .chatty{
        font-size: 15px;
        border: 1px solid #444cf7;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-decoration: none;
        color: #444cf7;
        transition: all 0.5s;
        border-right: none;
        background-color: azure;
    }
    .chatty:hover{
        border: 1px solid #444cf7;
        background-color: #030e2b;
        color: #fff;
        border-right: none;
        padding-right: 3rem;
        padding-left: 3rem;
        cursor: pointer;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 10px 10px;
      }
}
/* styles/Chat.css */

.chat-container {
    z-index: 10;
    background-color: #030e2b;
    position:absolute;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    top: 20px;
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    right: 200px;
    box-sizing: border-box;
}
.mensajes-recibidos{
    overflow-y: scroll;
    max-height: 430px;
    margin-top: 50px;
}
.mensajes{
    margin-left: 50px;
    position: relative;
}
.friends-list {
    text-align: center;
    padding: 10px;
    width: 40%;
    border-right: 1px solid #ccc;
    overflow: auto;
}

.friend {
    cursor: pointer;
    padding: 10px;
}
.chat-messages .controllers{
    position: absolute;
   top:450px;
   right: 70px;
}
.chat-messages h4{
    padding-top: 12px;
}

.friend:hover,
.friend.selected {
    font-family: 'MotivaSans',sans-serif;
    font-weight: 800;
    background-color: #444cf7;
    color: #030e2b;
    border: 1px solid #ccc;

}

.chat-messages {
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 70%;
    padding-left: 10px;
    overflow: auto;
}

.chat-input {
    width: 300px;
    height: 40px;
    color: #030e2b;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
.chat-messages input::placeholder{
    color: #030e2b;
    
}

.chat-button {
    width: 40px;
    height: 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-button:hover {
    background-color: #45a049;
}
.friend .selected {
    background-color: #f0f0f0;
}
@media (max-width:932px){
    .chat-container{
        width: 500px;
        right: 100px;
    }
    .chat-input{
        width: 150px;
    }
    
}
@media (max-width:1200px){
        .mensajes input{
        width: 150px;
    }
    .mensajes-recibidos{
        padding: 20px;
        max-height: 300px;
    }
}
@media (max-width:630px){
    .chat-container{
        width: 350px;
        right: 100px;
    }
    .chat-input{
        width: 100px;
    }.chat-messages {
        color: #fff;
        text-align: center;
        padding: 0;
        width: 100%;
        padding-left: 0;
        overflow: auto;
    }
    .mensajes{
        margin-left: 20px;
    }
    .mensajes input{
        width: 150px;
    }
    .mensajes-recibidos{
        padding: 20px;
        max-height: 300px;
    }
    .friend.selected{
        font-size: 10px;
    }
    .friend{
        font-size: 10px;
    }
}
@media (max-width:465px){
    .chat-container{
        width: 280px;
        right: 50px;
    }
    .chat-input{
        width: 100px;
    }.chat-messages {
        color: #fff;
        text-align: center;
        padding: 0;
        width: 100%;
        padding-left: 0;
        overflow: auto;
    }
    .mensajes{
        margin-left: 20px;
    }
    .mensajes input{
        width: 100px;
    }
    .mensajes-recibidos{
        padding: 20px;
        max-height: 250px;
    }
    .friend.selected{
        font-size: 10px;
    }
    .friend{
        font-size: 10px;
    }
    .friends-list h3{
        font-size: 16px;
    }
}
