/* Main styles */
.form-cr-game {
  padding-top: 200px;
  padding-bottom: 200px;
  color: #999;
  text-align: center;
  
}
#create-game{
  width: 50%;
  background: url('https://e1.pxfuel.com/desktop-wallpaper/994/757/desktop-wallpaper-pro-gamer-iphone-gaming-iphone-thumbnail.jpg');
}
.form-cr-game form {
     display: flex;
     border-radius: 25px;
  background-color: #151515;
  height: 600px;
  margin: auto;
  width: 1000px;
  overflow: hidden;
}
.form-cr-game .form-container {
    padding: 20px;
    filter: brightness(100%);
     width: 50%;
}
.form-cr-game .form-container h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.form-cr-game form img {
  width: 50%;
}
.form-cr-game .form-container .form-group input{
  background: transparent;
  letter-spacing: 0.1em;
  position: relative;
  width: 80%;
  outline: none;
  color: #23242a;
  font-size: 2em;
}
.form-cr-game .form-container .form-group textarea{
  background: transparent;
  outline: none;
  letter-spacing: 0.1em;
  position: relative;
  width: 80%;
  color: #23242a;
  font-size: 1em;
  height: 100px;
  resize: none;
}
.form-cr-game .form-container .form-group {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
}
.form-cr-game .form-container .form-group label{
  left: 70px;
  letter-spacing: 0.1em;
  position: absolute;
  font-size: 1em;
  padding: 20px 10px 10px;
  color: #8f8f8f;
  pointer-events: none;
  transition: 0.5s;
}
.form-cr-game .form-container .form-group input:focus ~ label,
.form-cr-game .form-container .form-group input:valid ~ label{
  color: #45f3ff;
  transform: translateY(-40px);
  font-size: 1.1em;
}
.form-cr-game .form-container .form-group textarea::-webkit-scrollbar {
  width: 10px;
  cursor: move;
}

.form-cr-game .form-container .form-group textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  cursor: move;

}

.form-cr-game .form-container .form-group textarea::-webkit-scrollbar-thumb {
background-color: blue;
outline: 1px solid blue;
}
.form-cr-game .form-container .form-group input:focus,
.form-cr-game .form-container .form-group input:valid{
  color: black;
  background-color: aqua;
  padding: 10px;
  font-size: 20px;
}
.form-cr-game .form-container .form-group textarea:focus,
.form-cr-game .form-container .form-group textarea:valid{
  color: black;
  background-color: aqua;
  padding: 10px;
  font-size: 20px;
}
.form-cr-game .form-container .form-group textarea:focus ~ label,
.form-cr-game .form-container .form-group textarea:valid ~ label{
  color: #45f3ff;
  transform: translateY(-70px);
  font-size: 1.1em;
}
@media (max-width:1050px){
  .form-cr-game form{
    display: block;
  }
}
@media (max-width:1050px){
  .form-us-settings form{
    display: block;
  }
  .form-container{
    width: 100%;
  }
  .user-prof{
    margin-bottom: 50px;
  }
}
@media (min-width:1050px){
  .form-us-settings form{
    display: flex;
  }
  .form-container{
    width: 70%;
  }
  .user-prof{
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .form-us-settings form img {
    width: 200px;
    border-radius: 50%;
    margin-top: 50%;
}
}
