@keyframes floating{
    0%{left: 0%;}
    50%{left:70%;}
    100%{left:0%;}
}
@media (max-width:1345px){
    .error-container{
        max-width: 80%;
    }
    .error-container h1{
        font-size: 1.5em;
    }
}
@media (max-width:540px){
    .error-container{
        max-width: 90%;
    }
    .error-container h1{
        font-size: 1em;
    }
    .error-container h3{
        font-size: 1em;
    }
    @keyframes floating{
        0%{left: 0%;}
        50%{left:20%;}
        100%{left:0%;}
    }
}