
.footer-distributed{
	margin: 0 auto;
	position: relative;
    background-color: #101010;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
	font-family: 'Nexa-Heavy',sans-serif;	
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-distributed .footer-left{
	text-align: center;
	width: 30%;

}
.footer-distributed .footer-left p{
	color: #ffff;
	font-size: 3rem;
	font-family: 'Oasis',sans-serif;
}

.footer-distributed h3 span{
	color:  aqua;
}



.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	
	width: 35%;
}

.footer-distributed .footer-center .foot-icon{
	background-color:  transparent;
	color: #ffffff;
	font-size: px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center div{
	margin-top: 20px;
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:20px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	font-family: 'MotivaSansThin',sans-serif;
	color:  aqua;
	text-decoration: none;
}



.footer-distributed .footer-right{
	width: 25%;
	padding-top: 25px;
	margin: 0 auto;

}

.footer-distributed .footer-company-about{
	line-height: 23px;
	color:  #92999f;
	font-size: 17px;
	font-weight: normal;
	font-family: 'MotivaSans',sans-serif;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	font-family: 'Nexa-ExtraLight',sans-serif;
	display: block;
	color:  #ffffff;
	font-size: 20px;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  transparent;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
	transition: 0.5s;
}
.footer-distributed .footer-icons a:hover{
	transform:  translateY(-8px);
}

/* If you don't want the footer to be responsive, remove these media queries */
/*media queries from the API*/

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
 .copyright{
	background-color:#332f2f;
	width: 100%;
	padding: 15px;
	position: absolute;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}