.Forms{
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url('../assets/img/other/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers.jpg');
    background-size: cover;
}
.loginForm{
    margin-top: 100px;
    padding-bottom: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginForm .login-box{
    position: relative;
    width: 380px;
    height: 420px;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
}
.login-box::after{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,aqua,aqua);
    animation: elgiro 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}

.login-box .log-form h2{
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 20px;
}
.login-box .log-form{
    position: relative;
    z-index: 2;
    background-color: black;
    border-radius: 8px;
    height: 410px;
    margin: 5px;
    padding: 50px 40px;
}
.loginForm .login-box::before{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,aqua,aqua);
    animation: elgiro 6s linear infinite;
    transform-origin: bottom right;
}
.loginForm form .input-box{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.loginForm form .input-box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: aqua;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
.loginForm form .input-box input:focus ~ i,
.loginForm form .input-box input:valid ~ i{
   height: 40px;
}
.loginForm form .input-box input{
    width: 100%;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    z-index: 2;
    letter-spacing: 0.05em;
    padding: 20px 10px 10px;
}
.loginForm form .input-box label{
        position: absolute;
        left: 0;
        padding: 20px 10px 10px;
        font-size: 1em;
        color: #8f8f8f;
        pointer-events: none;
        transition: 0.5s;
}
.loginForm form .input-box input:focus ~ label,
.loginForm form .input-box input:valid ~ label{
    color: aqua;
    transform: translateY(-40px);
    font-size: 0.75em;
}
.loginForm form .links{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.loginForm form input[type=submit]{
    margin-top: 25px;
    margin-left: 30%;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #58629b;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}
.loginForm form input[type=submit]:hover{
    background: #fff;
    color: #58629b;
}
.loginForm form .links a{
    text-decoration: none;
    color: #58629b;
}
@keyframes elgiro
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*======================================*/
/*==========REGISTER FORM CSS==========*/
/*=====================================*/
.Forms{
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url('../assets/img/other/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers.jpg');
    background-size: cover;
}
.registerForm{
    margin-top: 100px;
    padding-bottom: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.registerForm .register-box{
    position: relative;
    width: 380px;
    height: 500px;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
}
.register-box::after{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 500px;
    background: linear-gradient(0deg,transparent,aqua,aqua);
    animation: elgiro 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}

.register-box .log-form h2{
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 20px;
}
.register-box .log-form{
    position: relative;
    z-index: 2;
    background-color: black;
    border-radius: 8px;
    height: 490px;
    margin: 5px;
    padding: 50px 40px;
}
.registerForm .register-box::before{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,aqua,aqua);
    animation: elgiro 6s linear infinite;
    transform-origin: bottom right;
}
.registerForm form .input-box{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.registerForm form .input-box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: aqua;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
.registerForm form .input-box input:focus ~ i,
.registerForm form .input-box input:valid ~ i{
   height: 40px;
}
.registerForm form .input-box input{
    width: 100%;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    z-index: 2;
    letter-spacing: 0.05em;
    padding: 20px 10px 10px;
}
.registerForm form .input-box label{
        position: absolute;
        left: 0;
        padding: 20px 10px 10px;
        font-size: 1em;
        color: #8f8f8f;
        pointer-events: none;
        transition: 0.5s;
}
.registerForm form .input-box input:focus ~ label,
.registerForm form .input-box input:valid ~ label{
    color: aqua;
    transform: translateY(-40px);
    font-size: 0.75em;
}
.registerForm form .links{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.registerForm form input[type=submit]{
    margin-top: 25px;
    margin-left: 30%;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #58629b;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}
.registerForm form input[type=submit]:hover{
    background: #fff;
    color: #58629b;
}
.registerForm form .links a{
    text-decoration: none;
    color: #58629b;
}
@keyframes elgiro
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.popup-overlay-error {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content-error {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 50px;
}.popup-content-error p{
    margin-top: 20px;
font-size: 1.5em;
}

.popup-content-error button {
  margin-left: 195px;
  position: absolute;
  border-radius: 50%;
  color: rgb(202, 21, 21);
  background-color: transparent;
  font-size: 50px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  margin-top: -168px;
}

.popup-content-error button:hover {
  color: #0d229d;
  transition: 0.5s all ease-in-out;
}
