.the-game-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }
.single-game-container{
  margin-right: 50px;
}
.nft .boton-juegos{
  text-decoration: none;
  position: relative;
  height: 30px;
  width: 150px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: transparent;
  overflow: hidden;
  transition: 0.6s;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom: 20px;
  border-color: #206592;
}
.nft .boton-juegos a{
  filter: brightness(1.75);  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
}
.nft .boton-juegos:hover{
  background-color: #2eb7e5;
  box-shadow: 0px 15px 20px rgba(78, 195, 215, 0.4);
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
}
.nft .boton-juegos:before, .nft .boton-juegos:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.nft .boton-juegos:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.nft .boton-juegos:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.nft .boton-juegos:hover:before,
.nft .boton-juegos:hover:after{
  transform: translateX(320px) skewX(-45deg);
}


.nft{ 
    user-select:none;
    max-width: 500px;
    width: 500px;
    margin: 4rem auto;
    border: 1px solid #ffffff22;
    background-color: #192141;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    overflow: hidden;
    transition: .5s all;    
}

.main-games h3{
  font-family: 'Nexa-Heavy',sans-serif;
  text-align: center;
  margin: 20px;
}
    .nft hr{
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }
    .nft ins{
      text-decoration: none;
    }
   .nft .main-games{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.2rem;
      background-color: #192141;
    }
    
     .nft .tokenImage{
        border-radius: .5rem;
        max-width: 100%;
        width: 500px;
        height: auto;
        object-fit: cover;
      }
      .description{
        margin: .5rem 0;
        color: #a89ec9;
      }
      .tokenInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;}
        .nft .price{
          display: flex;
          align-items: center;
          color: white;
          font-weight: 700;
        }
        .nft  .ins{
            margin-left: -.3rem;
            margin-right: .5rem;
          }
        .duration{
          display: flex;
          align-items: center;
          margin-right: .2rem;
          transition: all 0.5s ease;
        }
        .duration a{
          text-decoration: none;
          color: #9784d4;
          filter: brightness(1.75);
        }
        .duration a:hover{
          color: aqua;
          transform: translateY(-7px);
          cursor: pointer;
          transition: all 0.5s ease;
        }
        .duration a::after {
          content: "";
          display: block;
          position: absolute;
          border-radius: 4em;
          left: 0;
          top:0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 0.5s;
          box-shadow: 0 0 10px 40px white;
        }
        .duration a:active:after {
          box-shadow: 0 0 0 0 white;
          position: absolute;
          border-radius: 4em;
          left: 0;
          top:0;
          opacity: 1;
          transition: 0s;
        }
      .nft ins{
            margin: .5rem;
            margin-bottom: .4rem;
          }
      .creator{
        display: flex;
        align-items: center;
        margin-top: .2rem;
        margin-bottom: -.3rem;}
       .nft .ins{
          color: #a89ec9;
          text-decoration: none;
        }
     
      .nft::before{
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: .7s all;
    }
   .nft:hover{
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      transform: scale(1.015);
      
    }

  .nft::before{
        filter: brightness(.5);
        top: -100%;
        left: 200%;
      } 
  .bg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .bg h1{
      font-size: 20rem;
      filter: opacity(0.5);
    }
    @media(max-width:600px){
      .single-game-container{
        margin-right: 0px;
      }
    }
    @media(max-width:500px){
      .nft{
        width: 300px;
      }
      .gamer-hero .showcase-game .text {

        padding: 50px;
   
    }
    }
/*=======Hero Banner Games===================*/
.gamer-hero .showcase-game
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: url(../assets/img/other/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers.jpg);
}
.gamer-hero .showcase-game .text
{
  position: relative;
  z-index: 2;
  padding: 150px;
  margin-bottom: 50px;
}

.gamer-hero .showcase-game .text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.gamer-hero .showcase-game .text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.gamer-hero .showcase-game .text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.gamer-hero .showcase-game .text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.gamer-hero .showcase-game .text a:hover
{
  letter-spacing: 6px;
}


@media (max-width: 991px)
{

  .gamer-hero .showcase-game .text h2
  {
    font-size: 2em;
  }
  .gamer-hero .showcase-game .text h3
  {
    font-size: 2em;
  }
  .gamer-hero .showcase-game .text p{
    font-size: 1em;
  }
  .gamer-hero .showcase-game .text{
    padding-top: 100px;
    padding-left: 20px;
  }
}
/*===========Single Game jsx====================*/

.sg-img{
  filter: blur(5px); /* Adjust the blur radius as needed */
  top: -300px;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 1000px;
}
.sgcard-wrapper{
  line-height: 1.5;
}
.sgcard-wrapper img{
  width:100%;
  display: block;
}
.sgcard-wrapper .sgcard .img-display{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;   border-radius: 20px;
  overflow: hidden;
}

.sgcard-wrapper .sgcard .img-showcase{
  width: 120%;
  display: flex;
  transition: all 0.5s ease;
}
.sgcard-wrapper .sgcard .img-showcase img{
  min-width: 100%;
}
.sgcard-wrapper .img-select{
  display: flex;
}
.sgcard-wrapper .img-select .img-item{
  margin: 0.5rem;
}
.sgcard-wrapper .main-img:hover{
  opacity: 0.9;
  cursor: pointer;
}
.sgcard-wrapper .img-select .img-item:nth-child(1),
.sgcard-wrapper .img-select .img-item:nth-child(2),
.sgcard-wrapper .img-select .img-item:nth-child(3)
{
  margin-right: 0;
}

.sgcard-wrapper .img-select .img-item:hover{
  opacity: 0.8;
  cursor: pointer;
}
.sgcard-wrapper .product-content{
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
  padding-left: 2rem;
  padding-top: 20px;
}
.bad-news{
  padding-top: 40px;
  line-height: 1.2rem;
  font-size: 1.5rem;
  filter: brightness(1.75);
}
.sgcard-wrapper .product-title{
  position: relative;
  padding: 20px;
  font-size: 2rem;
  font-family: 'Nexa-ExtraLight',sans-serif;
}
.sgcard-wrapper .product-title::after{
  content: "";
  position: absolute;
  width: 7rem;
  height: 2px;
  background: rgb(255, 255, 255);
  left: 0;
  bottom: 0;
}
.sgcard-wrapper .product-link{
  width: 100%;
  margin-top: 40px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'Nexa-Heavy',sans-serif;
  display: inline-block;
  transition: all 0.5s ease;
  padding: 14px;
  text-align: center;
  border-radius: 10px;
  background: rgb(53, 98, 129) ;
}
.sgcard-wrapper .product-compra{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.sgcard-wrapper .product-link:hover {
  background-color: #2eb7e5;
  box-shadow: 0px 15px 20px rgba(49, 199, 226, 0.4);
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
}
.sgcard-wrapper .product-price h2 span{
  margin-left: 10px;
  color: white;
  font-family: 'Doom',sans-serif;
  letter-spacing: 5px;
  font-size: 50px;
}
.sgcard-wrapper .product-price {
  text-align: center;
}
.sgcard-wrapper .product-news{
  max-width: 90%;
  padding-top: 20px;
  line-height: 2rem;
  min-height: 200px;
}
.sgcard-wrapper .product-news h2{
  margin-bottom: 15px;
  color: aqua;  
}
.sgcard-wrapper .product-social{
  margin-top: 50px;
  text-align: center;
}
.sgcard-wrapper .product-social h2{
  color: aqua;
  margin-bottom: 15px;
  font-family: 'Nexa-ExtraLight',sans-serif;
}
.sgcard-wrapper .product-social a{
  color: white;
  font-size: 2rem;
  margin-right: 30px;
  transition: all 0.5s ease;
}
.sgcard-wrapper .product-social a:hover{
  color: #2eb7e5;
  box-shadow: 0px 15px 20px rgba(49, 199, 226, 0.4);

  transform: translateY(-7px);
}
.sgcard-wrapper .product-details{
  position: relative;
  margin-bottom: 200px;
  line-height: 2rem;
  margin-top: 100px;
}
.sgcard-wrapper .product-details h2{
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 25px;
}
@media screen and (min-width:992px) {
  .sgcard-wrapper .sgcard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
  }
  .sgcard-wrapper{
    padding-top: 250px;
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;
  }
}
@media (max-width:1070px){
  .sgcard-wrapper{
    margin: 0;
    padding-top: 200px;
  }
}
.popup-overlay {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.popup-content img {
  width:60vw;
  height: auto;
}

.popup-content button {
  margin-left: 58vw;
  position: absolute;
  margin-top: -10px;
  background-color: rgb(171, 15, 15);
  color: #fff;
  border: none;
  font-size: 60px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #2eb7e5;
  box-shadow: 0px 15px 20px rgba(49, 199, 226, 0.4);
  color: #fff;
  transition: 0.5s ease;
}

/*diseño renderizado del juego y fetch info de la api*/
.loading-games{
  position: relative;
  height: 300px;
text-align: center;
}
.botones-juego{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
width: 80%;
margin-bottom: 20px;
margin-top: 20px;
}

.boton-juego{
  width: 100px;
  height: 50px;
  border: none;
  background-color: #192141;
  color: white;
  transition: all 0.5s;
}
#boton-activo{
  background: #1E7EE2;
  color: #fff;
  box-shadow: rgba(30, 126, 226, 0.4) 0px 5px, rgba(30, 126, 226, 0.3) 0px 10px, rgba(30, 126, 226, 0.2) 0px 15px, rgba(30, 126, 226, 0.1) 0px 20px, rgba(30, 126, 226, 0.05) 0px 25px;

}
.boton-juego:disabled{
  display: none;
}
.boton-juego:hover{
  background: rgba(73, 112, 155, 0.8);
  cursor: pointer;
}
.product-details{
  padding-left: 100px;

}
.product-details .table{
  margin-right: 200px;
  max-width: 1000px;
  border-collapse: separate;
  border-spacing: 0 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.product-details .table .tr td{
  color: #111;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid white;
}
.product-details .table .tr td h3{
  margin-top: 10px;
  color: #c30a0a;
}
.product-details .table .tr td h3 span{
  color: #111;
}
.card {
  width: 320px;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 margin-left: 20px;

}

.card2 {
  width: 320px;
  padding: 30px;
 background-color: #192141;
 border:1px solid #1E7EE2;
  transition: all .2s;
  border-radius: 15px;
}

.card2:hover {
 transform: scale(0.98);
 border-radius: 20px;
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
.other-product-info{
  display: flex;
}
@media (max-width: 1700px){
  .other-product-info{
    display: block;
  }
}
.stores-container {
  display: grid;
  grid-gap: 50px;
  grid-auto-rows: repeat(4, 1fr);;
  margin-top: 50px;
  line-height: 2.2rem;
}

@media (max-width: 1163px) {
  /* Media query para .tablets */
  .stores-container {
    grid-template-columns: repeat(1, 320px); /* Dos columnas de 320px */
  }

}

@media (max-width: 767px) {
  .product-details{
    padding-left: 0;
  
  }
  /* Media query para dispositivos móviles */
  .stores-container {
    grid-template-columns: repeat(1, 320px) !important; /* Una columna de 320px */
  }
  .product-details .table .tr{
    width: 10px !important;
  }
  
}

@media (min-width: 1574px) {
  /* Media query para pantallas más grandes */
  .stores-container {
    grid-template-columns: repeat(1, 320px); /* Cuatro columnas de 320px */
  }
}
@media (max-width: 1573px) {
  /* Media query para pantallas más grandes */
  .stores-container {
    grid-template-columns: repeat(2, 320px) ; /* Cuatro columnas de 320px */
  }
}
@media (min-width: 1800px) {
  /* Media query para pantallas más grandes */
  .stores-container {
    grid-template-columns: repeat(2, 320px) ; /* Cuatro columnas de 320px */
  }
}
@media (min-width: 2000px) {
  /* Media query para pantallas más grandes */
  .stores-container {
    grid-template-columns: repeat(3, 320px); /* Cuatro columnas de 320px */
  }
}


.stores-container a{
color: #1E7EE2;
text-align: center;
border: 1px solid #1E7EE2;
padding: 5px;
}

.stores-container a:hover{
  color: #2eb7e5;
  cursor: pointer;
  }
.stores-container .best-offer{
  position: absolute;
  z-index: 4;
font-weight: 800;
left: 200px;
padding-left: 20px;
padding-right: 20px;
background: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);}
.stores{
  width: 60%;
  margin-top: 100px;
}
.stores h2{
  font-size: 3rem;
}