
.main {
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  

  .main .overlay{
    position: relative;
    width: 100%;
     height: 85%;
     
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  }
  .main img{
    z-index: 2;
    animation: fadeIn 5s; 
    position: absolute;
    width: 850px;
    top:  200px;
    right: 0;
  }
  
  .content {
    background-image: url('https://cutewallpaper.org/21/wallpaper-genji-anime/Genji-Overwatch-Wallpaper-2176567-Zerochan-Anime-Image-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    animation: fadeIn 5s; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    color: white;
    overflow: hidden;
  }
  .cont-p{
      font-size: 3em;
    text-align: right;
    padding-top: 150px;
    padding-right:15%;
    text-shadow: 4px 3px 0 #3a50d9, 14px 7px 0 #0a0e27;
    padding-bottom: 10%;
    width: 100%;
    height: 90%;
    margin-top: 150px;
  }
  @media (max-width:420px){
   .cont-p{
    font-size: 2em;
    margin-top: 0;
    text-align: left;
    padding-left: 15px
   }
  }
  .content p{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    font-family: 'Nexa-ExtraLight';
  }
  .cont-p a{
    text-decoration: none;
    color: white;
  }
  .content button{
    margin-top: 20px;
    width: 100px;
    padding: 5px;
    border-color:aqua;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .content button:hover{
    background-color: #2eb7e5;
    box-shadow: 0px 15px 20px rgba(49, 199, 226, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
 
  .separator {
    position: absolute;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #030e2b 0.5px);
    background-size: 20px 20px;
  background-position: 0 0,10px 10px;
    width: 0;
    height: 300px;
    border-left: 3500px solid #030e2b; /* Reemplaza "1366px" con el valor en píxeles adecuado para tu caso */
    border-top: 500px solid transparent; /* Reemplaza "190.34px" con el valor en píxeles adecuado para tu caso */
    margin-top: -370.04px; /* Reemplaza "-187.04px" con el valor en píxeles adecuado para tu caso */
    z-index: 2;
  }
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  