
.slider{
   margin-bottom: 10rem;
   margin-top: 10rem;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}
.slider h1{
   font-size: 2.5rem;
   font-family: 'Nexa-heavy',sans-serif;
}
.slider .slider-content{
   display: flex;
   flex-direction: row;
   background-color: #192141;
   padding: 50px;
   border-radius: 20px;
   margin-top: 80px;
   max-width:1350px;
}
.slider .slider-content .box{
   position: relative;
}
.slider .slider-content .slide-content{
   padding-left: 50px;
   max-width: 40%;
}
.slider .slider-content .slide-content p{
   margin-top: 30px;
   line-height: 2rem;
}
.slider .slider-content .slide-content h3{
   font-size: 2rem;
   font-family: 'MotivaSans',sans-serif;
}
@media (max-width:1240px){
   .slider .slider-content{
      display: block;
   }
   .slider .slider-content .slide-content{
      max-width: 100%;
      padding-top: 80px;
      padding-left: 0;
   }
   .slider .slider-content .slide-content p{
    
   }
   .slider .slider-content .slide-content h3{
      
   }
}
