
    /*nav*/
   header{
        width: 100%;
    background-color: transparent;   

   }
    nav li{
      list-style: none;
    }
    nav a{
      text-decoration: none;
      color:/* #b8b6b4;*/white;
      font-family: 'Nexa-Heavy',sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
    }
    .scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #101010;
}
.logo-d{
  display: none;
}

.header{
  background-color: #101010;
}
   nav a:hover{
      color: #cac7ff;
    }
    nav a.active{
      background-color: transparent;
      color: orange;
    }
    nav{
      position: fixed;
      top: 0;
      width: 100%;
      height: 90px;
      padding: 25px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: background-color 0.5s ease;
      z-index: 10;
    }
    nav .logo a{
      font-size: 4rem;
      font-family: 'Oasis',sans-serif;
      text-transform: uppercase;
      color: aqua;
      
      text-shadow: 4px 3px 0 #355eaf;    }
    nav .links{
      display: flex;
      gap: 2rem;
    }
    nav .toogle_btn{
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
    }
    nav .cube{
      padding-right: 2rem;
      margin-top: 1rem;
    }
    nav .user-zone .cube{
      font-size: 1.5em;
      color: aqua;
    }
    nav .user-zone .user{
      font-size: 1.5em;
      color: aqua;
    }

    /*SearchBar*/
    
    nav .user-zone .search-bar-class{
      display: flex;/*<--flex*/
      float: left;
      margin-right: 2.7em;
      max-width: 700px;
      background: rgba(255, 255, 255, 0.2);
      align-items: center;
      border-radius: 60px;
      padding: 5px 10px;
      transition: all 0.5 ease;
    }
    nav .user-zone .search-bar-class input{
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      font-size: 17px;
      font-family: 'MotivaSansThin',sans-serif;
      transition: all 0.5 ease;
      color: #fff;

    }
    ::placeholder{
      color: aqua;
    }
   nav .user-zone .search-bar-class input:focus::placeholder{
      color: transparent;
   }
   nav .user-zone .search-bar-class input:focus{
    transition: all 0.5 ease;

    color: white;
 }
 nav .user-zone form:focus-within {
  transition: all 0.5 ease;
  background-color: #030e2b;
  padding: 10px;
}

   .logo{
    font-size: 3rem;
   }
   nav .user-zone .search-bar-class button{
    border: 0;
    padding: 10px;
    border-radius: 50%;
    color: aqua;
    background: #58629b;
   }
   nav .user-zone .search-bar-class button:hover{
    cursor: pointer;
   }
   .dropdown_menu{
    padding: 20px;
    width: 90%;
    display: none;
    position: absolute;
    z-index: 12;
    top: 80px;
    background-color: #030e2b;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   .dropdown_menu li{
    padding: 0.7rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .dropdown_menu li a{
    text-decoration: none;
    color: aqua;
   }
   .dropdown_menu li .search-bar-bar{
      max-width: 700px;
      background: rgba(255, 255, 255, 0.2);
      align-items: center;
      border-radius: 60px;
      padding: 10px 15px;
   }
   .search-bar-bar button{
    background-color: transparent;
    color: aqua;
    padding: 5px;
    font-size: 1.2rem;
    outline: none;
    border: none;
   }
   .dropdown_menu li .search-bar-bar input{
    background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      font-size: 17px;
      font-family: 'MotivaSansThin',sans-serif;
      color: #cac7ff;
   }
   /*Responsive design*/
   @media(max-width:1052px){
    nav .links, nav .user-zone{
      display: none;
    }
    nav .logo a{
      font-size: 3.5rem;
    }
    nav .toogle_btn{
      display: block;
    }
    
     .dropdown_menu{
      display: block;
    }
    nav .cube{
      padding-right: 0;
      margin-top: 1rem;
    }
   }
   .dropDownProfile{
    top: 5rem;
    right: 8.8rem;
    position: absolute;
    width: 120px;
    padding: 20px;
    border-radius: 15px;
    background-color: #030e2b;
    border: 1px solid #58629b;
   }
   /* .dropDownProfile::before{
    content: '';
    position: absolute;
    width: 30px;
    background-color: #030e2b;
    height: 30px;
    top: -1rem;
    right: 2.6rem;
    transform: rotate(45deg);
    border-top: 1px solid #58629b;
    border-left: 1px solid #58629b;
   } */
   .dropDownProfile li:nth-child(1),  .dropDownProfile li:nth-child(2){
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #58629b ;
   }
   .dropDownProfile li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'MotivaSans',sans-serif;
   }
   .dropDownProfile li span{
    padding-left: 10px;
    color: rgb(244, 26, 26);
   }