.news-hero-item-1 .news-hero-thumb{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png');
}
.news-hero-item-2 .news-hero-thumb{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg');
}
.news-hero-item-3 .news-hero-thumb{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg');
}
.news-hero-item-4 .news-hero-thumb{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png');
}
.news-hero-item-5 .news-hero-thumb{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg');
}
.news-hero-item-6 .news-hero-thumb{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg');
}
.news-hero-item-7 .news-hero-thumb{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png');
}
.news-hero-news-hero-band{
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
  }
  
  .news-hero-band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  @media (min-width: 30em) {
    .news-hero-band {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 60em) {
    .news-hero-band {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .news-hero-card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.news-hero-1s ease-in;
  }
  
  .news-hero-card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0);
  }
  
  .news-hero-card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .news-hero-card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .news-hero-card p {
    flex: 1;
    line-height: 1;
  }
  
  .news-hero-card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 2em 0 0 0;
  }
  
  .news-hero-card .news-hero-thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  
   @media (min-width: 60em) {
    .news-hero-item-1 {
   
          grid-column: 1 / span 2;

  }
    }
  @media (min-width: 60em) {
      .news-hero-item-1 h1 {
        font-size: 24px;
      }
    }
.relevant-news .meta .photo{
  background-image:url('https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406__480.jpg');
}

.relevant-news {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.relevant-news a {
  color: inherit;
}

.relevant-news .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.relevant-news .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.relevant-news .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.relevant-news .description h1, .relevant-news .description h2 {
  font-family: 'MotivaSans', sans-serif;
}
.relevant-news .description h1 {
  color: #0f457c;
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  text-decoration: underline;
}
.relevant-news .description h2 {
  font-family: 'MotivaSans',sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #342e2e;
  margin-top: 5px;
}
.relevant-news .description .read-more {
  text-align: right;
}
.relevant-news .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.relevant-news p {
  color: #333;
  position: relative;
  margin: 1rem 0 0;
}


@media (min-width: 640px) {
  .relevant-news {
    margin-top: 100px;
    flex-direction: row;
    max-width: 1100px;
  }
  .relevant-news .meta {
    flex-basis: 40%;
    height: auto;
  }
  .relevant-news .description {
    flex-basis: 60%;
  }
  .relevant-news.alt {
    flex-direction: row-reverse;
  }
}
@media (max-width: 960px) {  
.relevant-news{
  margin: 50px;
}
}
/*============Hero Banner======================*/
.showcase 
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: url(../assets/img/other/7671274_1624.jpg);
}
.showcase .text
{
  position: relative;
  z-index: 2;
  padding: 150px;
  margin-bottom: 50px;
}

.showcase .text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.showcase .text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.showcase .text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.showcase .text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.showcase .text a:hover
{
  letter-spacing: 6px;
}
.showcase .social
{
  position: relative;
  z-index: 2;
  bottom: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.showcase .social li
{
  list-style: none;
}
.showcase .social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.showcase .social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}


@media (max-width: 991px)
{

  .showcase .text h2
  {
    font-size: 2em;
  }
  .showcase .text h3
  {
    font-size: 2em;
  }
  .showcase .text p{
    font-size: 1em;
  }
  .showcase .text{
    padding-top: 100px;
    padding-left: 20px;
  }
}