.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1800px;
    margin: 0 auto;
}
.cards_all h2{
    font-size: 2.5rem;
    margin-top: 150px;
    margin-bottom: 30px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.cards {
    box-sizing: border-box;
}
.card_reservas button a{
    color: black;
    text-decoration: none;
}
.card__link:hover{
cursor: pointer;
}
.card_reservas{
    min-height: 553.8px;
}
.card_reservas button{
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 10px;
    margin-top: 2rem;
}
.card_reservas .card__content{
    min-height: 250px;
    padding: 20px;
    text-align: center;
}
.card_reservas .card__content h3{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.cards .card__content h4{
    margin: 5px;
    text-align: left;
}
.cards .card__content p{
    margin: 5px;
    text-align: left;
}

.cards .card{
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}
.cards .card:hover{
    transform: scale(1.09); 
    box-shadow: 0px 15px 20px rgba(49, 199, 226, 0.4);
}
.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #192141;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}
