.game-search{
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
}
.game-search .search-container{
    margin-top: 250px;
    width: 100%;
}
.game-search .search-container .buscador-game{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.game-search .search-container .game-list-found{
   margin-top: 100px;
}
  
  .search-bar input,
  .search-btn {
    font: 1em 'MotivaSansThin', sans-serif;
    width: 3em;
    height: 3em;
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    display: flex;
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
  }
  .search-bar input {
    border-radius: 1.5em;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
  }

  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1.4);
  }
  .search-bar input::placeholder{
    color: #171717;
    font-family: 'MotivaSansThin',sans-serif;
  }
  .search-btn {
    background: #2762f3;;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    position: relative;
    color: #fff;
    font-size: 1.4rem;
  }
  .search-btn:hover{
    background: #0a3fc3;;
  }
  

  .que-Card {
    padding: 1px;
    border-radius:15px;
    overflow: hidden;
    box-shadow: -2px -2px 6px rgba(70, 86, 149, 0.6), 2px 2px 12px #26537e;
  }
   .que-Card .CardInner {
    padding: 42px 42px;
    background-color: #192141;
    border-radius: 15px;
  }
  .que-Card  .container {
    display: flex;
  }
  .que-Card .Icon {
    min-width: 70px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 12px;
    box-shadow: -2px -2px 6px rgba(70, 86, 149, 0.6), 2px 2px 12px #26537e;
    transition: all 0.5;
  }
  .que-Card  .Icon{
    transform: translate(-1px, -1px);
  }
  .que-Card .Icon button{
    font-size: 1.5rem;
    border: none;
    color: #fff;
    background-color: transparent;
  }
  .que-Card .Icon:hover{
    transition: all 0.5 ease;
    background-color: #071c36;
  }
  .que-Card .Icon button:hover{
    cursor: pointer;
    color: #fff;
  }
  .que-Card label {
    font-family: "MotivaSans", sans-serif;
    font-size: 1.5rem;
    display: block;
    color: #fff;
    font-weight: 1000;
    margin-bottom: 20px;
   
  }
  .que-Card .InputContainer {
    width: 100%;
  }
  .que-Card input {
    font-family: "Nexa-ExtraLight", sans-serif;
    font-size: 1.5rem;
    background-color: #e3edf7;
    padding: 16px 32px;
    border: none;
    display: block;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
  }
  .que-Card  input::placeholder {
    color: #6d7f8f;
  }
  .que-Card  input:focus {
    outline: none;
    color: #6d7f8f;
    background-color: #eff5fa;
  }
  .que-Card .InputContainer {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  .que-Card  .InputContainer:before, .que-Card .InputContainer:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .que-Card .InputContainer:before {
    box-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  }
  .que-Card .InputContainer:after {
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  }
  .search-container form{
    display: grid;
    height: 100%;
    grid-template: 1fr/100%;
    place-items: center;
  }
  .no-games-found{
    display: grid;
    height: 100%;
    grid-template: 1fr/100%;
    place-items: center;
  }
  .no-games-found p{
    font-size: 3rem;
    margin: 50px;
    line-height: 2.5rem;
  }