.form-us-settings {
    padding-top: 200px;
    padding-bottom: 200px;
    color: #999;
    text-align: center;
  }
  .form-us-settings form {
    border-radius: 25px;
       display: flex;
    background-color: #151515;
    height: 100%;
    margin: auto;
    max-width: 1000px;
    overflow: hidden;
  }
  .form-us-settings .form-container {
      padding: 20px;
      filter: brightness(100%);
  }
  .form-us-settings .form-container h1{
      color: white;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 75px;
  }
  .form-us-settings form img {
    width: 200px;
    border-radius: 50%;
  }
  .form-us-settings .user-prof{
    margin: 0 auto;
    background-color: #4b4f67;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  min-height: 15px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 200px;
  cursor: pointer;
  margin-top: 20px;
  }
  .form-us-settings .user-prof label{
    cursor: pointer;
  }

  .form-us-settings .user-prof input[type="file"]{
    display: none;
  }
  .form-us-settings .form-container .form-group input{
    background: transparent;
    letter-spacing: 0.1em;
    position: relative;
    width: 80%;
    outline: none;
    color: #23242a;
    font-size: 2em;
  }
  .form-us-settings .form-container .form-group textarea{
    background: transparent;
    outline: none;
    letter-spacing: 0.1em;
    position: relative;
    width: 80%;
    color: #23242a;
    font-size: 1em;
    height: 100px;
    resize: none;
  }
  .form-us-settings .form-container .form-group textarea ~label{
    transform: translateY(-80px);

  }
  .form-us-settings .form-container .form-group {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
  }
  .form-us-settings .form-container .form-group label{
    left: 70px;
    letter-spacing: 0.1em;
    position: absolute;
    font-size: 1.1em;
    padding: 30px 10px 10px;
    color: #45f3ff;
    pointer-events: none;
    transition: 0.5s;
    transform: translateY(-50px);
  }
  .form-us-settings .form-container .form-group textarea::-webkit-scrollbar {
    width: 10px;
    cursor: move;
  }
  
  .form-us-settings .form-container .form-group textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: move;
  
  }
  
  .form-us-settings .form-container .form-group textarea::-webkit-scrollbar-thumb {
  background-color: blue;
  outline: 1px solid blue;
  }
  .form-us-settings .form-container .form-group input:focus,
  .form-us-settings .form-container .form-group input:valid{
    color: black;
    background-color: aqua;
    padding: 10px;
    font-size: 20px;
  }
  .form-us-settings .form-container .form-group ::-webkit-input-placeholder,
    .form-us-settings .form-container .form-group ::placeholder{
    color: black;
    background-color: aqua;
    padding: 10px;
    font-size: 20px;
    color: #827878;
  }
  .form-us-settings .form-container .form-group textarea:focus,
  .form-us-settings .form-container .form-group textarea:valid{
    color: black;
    background-color: aqua;
    padding: 10px;
    font-size: 20px;
  }
  .form-us-settings .form-container .form-group textarea:focus ~ label,
  .form-us-settings .form-container .form-group textarea:valid ~ label{
    color: #45f3ff;
    transform: translateY(-80px);
    font-size: 1.1em;
  }
  @media (max-width:1050px){
    .form-us-settings form{
      display: block;
    }
    .form-container{
      width: 100%;
    }
    .user-prof{
      margin-bottom: 50px;
    }
  }
  @media (min-width:1050px){
    .form-us-settings form{
      display: flex;
    }
    .form-container{
      width: 70%;
    }
    .user-prof{
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .form-us-settings form img {
      width: 200px;
      border-radius: 50%;
      margin-top: 50%;
  }
  }
  .btn-glitch-fill span{
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-family: 'Nexa-ExtraLight',sans-serif;
  }
  .btn-glitch-fill input:hover{
    transition: all 0.5s ease-out;

    background-color: #45f3ff !important;
    color: #151515 !important;
    cursor: pointer;
  }
  .btn-glitch-fill{
    transition: all 0.5s ease-out;

    background-color: transparent;
    color: #151515;
    margin-bottom: 50px;
  }
  .btn-glitch-fill input{
    transition: all 0.5s ease-out;
    background-color: #0c366d !important;
    color: #fff !important;
  }
 