/* .special-games-game{
    width: 300px;
    margin-right: 100px;
}
.special-games-container{
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
}*/
.special-game{
    margin-bottom: 10vh;
    position: relative;
    z-index: 2;
}
.special-game h2{
    margin-bottom: 2px;
}
.special-games-container{
    display: flex;
    margin-left: 60px;
overflow: hidden;
}
.special-games-game{
    border-radius: 10px;
    background-color: #192141;
    margin-right: 40px;
}

.special-games-game .boton-juegos{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    border-color:aqua;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.5s ease;
    cursor: pointer;
}

.special-games-game .boton-juegos:hover{
    background-color: #2eb7e5;
    box-shadow: 0px 15px 20px rgba(49, 199, 226, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.special-games-game .boton-juegos a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
.special-games-game img{
        border-top-left-radius: 10px 10px;
        border-top-right-radius: 10px 10px;
        max-width: 350px;
}
.special-games-game .spcontent{
    padding: 10px;
}
.react-multiple-carousel__arrow {
    background: #2eb7e5 !important;
    min-width: 60px !important;
    min-height: 60px !important;
    margin-top: -45px;
}
@media(max-width:500px){
    .react-multiple-carousel__arrow {
        background: #2eb7e5 !important;
        min-width: 40px !important;
        min-height: 40px !important;
        margin-top: -45px;
    }
}
#sp{
    transition: 0.7s ease;   
    transform: translateX(-100em);
        transition: 1.5s;
}
#sp-true{
    transition: 0.7s ease;
}



.special-games-game button:hover{
    cursor: pointer;
}
#Prev{
    position: absolute;
    bottom: 205px;
    left: -5px;
    margin: 20px;
}
#Next{
    position: absolute;
    bottom: 205px;
    right: 0px;
    margin: 20px;
}

