.user-profiler{
    width: 100%;
    margin: 0;

padding: 0;
box-sizing: border-box;
min-height: 120vh;
}
.user-profiler ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.about-me{
  margin: 20px;
}
.user-profiler a{
    text-decoration: none;
    color: rgba(16, 107, 172, 0.987)
}
.user-profiler .header_wrapper header{
    background: url('../assets/img/other/persona-4-30917-2560x1600.jpg');
    width: 100%;
    min-height: calc(100px + 15vw);
/* background-color: brown; */
}
.user-profiler {
    color: black;
    background-color: #fff;
}
.user-profiler .header_wrapper .cols_container .left_col{
  font-size: 2rem;
    padding: 25px 20px;
    text-align: center;
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}
.user-profiler .header_wrapper .cols_container .left_col .img_container{
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
}
.user-profiler .header_wrapper .cols_container .left_col .img_container img{
   width: 180px;
   height: 180px;
   object-fit: cover;
   display: block;
   border-radius: 50%;

   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .user-profiler .header_wrapper .cols_container .left_col h2{
    margin-top: 100px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 15px;
}
.user-profiler .header_wrapper .cols_container .left_col p{
  font-size: 1.2rem;
  font-weight: 800;
  color: #818181;
  margin: 0;
}
.user-profiler .header_wrapper .cols_container .left_col .about{
   justify-content: space-between;
   position: relative;
   margin: 35px 0;
  }
  .user-profiler .header_wrapper .cols_container .left_col .about li{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 1.1rem;
  }
  .user-profiler .header_wrapper .cols_container .left_col .about li span{
    color: black;
    font-weight: 600;
  }
  .user-profiler .header_wrapper .cols_container .left_col .footer-icons a{
    margin: 10px;
  }
  .user-profiler .header_wrapper .cols_container .left_col .footer-icons h3{
    margin: 20px;
  }
  .user-profiler .header_wrapper .cols_container .left_col .about::after{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
  }
  .user-profiler .header_wrapper .cols_container .left_col  p{
    color: black;
    line-height: 1.7em;
  }
  .user-profiler .header_wrapper .cols_container .right_col .links ul{
   display: flex;
   gap: 20px;
   flex-direction: column;
  }
  .user-profiler .header_wrapper .cols_container .right_col .links{
   display: flex;
   align-items: center;
   padding: 30px 0;
   justify-content: space-between;
   flex-direction: column;
  }
  .user-profiler .header_wrapper .cols_container .right_col .links ul li a{
    text-transform: uppercase;
    color: #030e2b;
    margin-left: 100px;
    font-size: 1.5rem;
    font-family: 'Nexa-Heavy',sans-serif;
   }
   .user-profiler .header_wrapper .cols_container .right_col .prog-games{
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 50px;
   }
   .user-profiler .header_wrapper .cols_container .right_col .prog-games ul{
    width: 35em;
    margin: 20px;
    border: 1px solid black;
    display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   border-radius: 10px;
   overflow: hidden;
   }
   .user-profiler .header_wrapper .cols_container .right_col .prog-games .games-deck-user{
    text-align: center;
   }
   .user-profiler .header_wrapper .cols_container .right_col .prog-games .games-deck-user .juegos span{
    padding: 10px;
    border-radius: 5px;
    font-family: 'MotivaSans',sans-serif;
    font-weight: 800;
    background-color: #030e2b;
   }
   .user-profiler .header_wrapper .cols_container .right_col .prog-games h3{
    /* font-size: 3.5rem;
    font-family: 'Doom',sans-serif; */
    letter-spacing: 0.5rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
   }
   .user-profiler .header_wrapper .cols_container .right_col .prog-games ul li{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Nexa-Heavy',sans-serif;
    font-size: 1rem;
    width: 100%;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
0px -4px 10px rgba(255,255,255,0.3);
    border: 1px solid black;
   }
    .user-profiler .header_wrapper .cols_container .right_col .links ul li a:hover{
    cursor: pointer;
   }
  @media (min-width: 1090px){
    .user-profiler .header_wrapper .cols_container{
        max-width: 1350px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }
    .user-profiler .header_wrapper .cols_container .right_col .links ul{
        gap: 20px;
        flex-direction: row;
       }

  }
  @media (max-width:657px){
    .user-profiler .header_wrapper .cols_container .right_col .prog-games {
       margin-left: 0px;
  }
  .user-profiler .header_wrapper .cols_container .right_col .prog-games ul {
    width: 20em;
  line-height: 2rem;
}
.cols_container{
  margin-top: 50px;
}
#sin-amigos{
  font-size: 1.5rem;
}
.user-profiler .header_wrapper .cols_container .right_col .links ul li a {
  margin-left: 0;

}
#remove {
  font-size: 15px;
  margin-right: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
#pencil-create{
  font-size: 15px;
  margin-right: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;}

  }
  @media (min-width:658px){
    #remove {
      font-size: 30px;
      margin-right: 100px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
    #pencil-create{
      font-size: 30px;
      margin-right: 100px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;    }
  }
  #sin-amigos{
    font-size: 2.3rem;
  }
  .user-profiler .sin_juegos{
    background-image: url('../assets/img/other/yeti.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .user-profiler .create-game{
    z-index: 10;
    width: 100%;
    text-align: right;
    position: -webkit-sticky; 
    position: sticky;
    transition: all 0.7s;
    bottom: 100px;
  }
  .user-profiler .remove-game{
    z-index: 10;
    width: 100%;
    text-align: right;
    position: -webkit-sticky; 
    position: sticky;
    transition: all 0.7s;
    bottom: 200px;
  }
  #remove{
    border: 1px solid #444cf7;
   
    border-radius: 50%;
    text-decoration: none;
    color: #030e2b;
    transition: all 0.5s;
    background-color: azure;
  }
  #remove:hover{
    border: 1px solid #444cf7;
    background-color: #030e2b;
    color: #fff;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 10px 10px;
  }
  #pencil-create{
    border: 1px solid #444cf7;
    border-radius: 50%;
    text-decoration: none;
    color: #030e2b;
    transition: all 0.5s;
    background-color: azure;
  }
  #pencil-create:hover{
    border: 1px solid #444cf7;
  background-color: #030e2b;
  color: #fff;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 10px 10px;
  }
.box{
    position: absolute;
}

.box .input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #444cf7;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'MotivaSans' Sans MS;
    font-size: 26px;
    color: #fff;
        outline: none;
    transition: .5s;
}
.box:hover input,
.box input:not(:placeholder-shown):valid  {
  width: 350px;
  padding-right: 55px;
  background: #030e2b;
  border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #030e2b;
    transition: .2s;
}
.box:hover i{
    color: #fff;
    cursor: pointer;
}
.courses-container{
  margin: 0 auto;
  margin-top: 100px;
}
.courses-container h2{
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: 50px;
}
#friend-container h2{
  font-size: 3rem;  
}
#friend-container{
  max-width: 70%;
  min-height: 30vh;

}
#sin-amigos{
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: 0;
  padding: 50px;
  background: url('../assets/img/favico/moon-between-mountains-in-winter-wallpaper-2560x720_72.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'MotivaSans',sans-serif;
  font-weight: 800;
  margin-bottom: 100px;
}
.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 90%;
	margin: 20px;
	overflow: hidden;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}
.course-preview h3{
  margin-top: 20px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
  min-height: 150px;
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btnmas{
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 20px;
	right: 30px;
	letter-spacing: 1px;
}
.btnmas:hover{
  cursor: pointer;
}
.btnmenos{
  background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 80px;
	right: 30px;
	letter-spacing: 1px;
}
.btnmenos:hover{
  cursor:pointer;
}

