/* Fonts and general styles */
body{
  scroll-behavior: smooth;
  background-color: #030e2b;
  opacity: 1;
  background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #030e2b 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}
.idiomas{
  position: sticky;
  height: 0;
  top: 350px;
  z-index: 90;
}
@media (max-width:492px){
  .upp{
    z-index: 10;
    width: 100%;
    text-align: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    transition: all 0.7s;
    bottom: 100px;
    }
  #up{
    margin-right: 25px;
    font-size: 15px;
    border: 1px solid #444cf7;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 50%;
    text-decoration: none;
    color: #030e2b;
    transition: all 0.5s;
    background-color: azure;
  }
  #up:hover{
    border: 1px solid #444cf7;
    background-color: #030e2b;
    color: #fff;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 10px 10px;
  }
}
@media (min-width:493px){
  .upp{
    z-index: 10;
    width: 100%;
    text-align: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    transition: all 0.7s;
    bottom: 100px;
    }
  #up{
    margin-right: 100px;
    font-size: 30px;
    border: 1px solid #444cf7;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 50%;
    text-decoration: none;
    color: #030e2b;
    transition: all 0.5s;
    background-color: azure;
    
  }
  #up:hover{
    border: 1px solid #444cf7;
    background-color: #030e2b;
    color: #fff;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 10px 10px;
  }
}
.loader {
  position: relative;
  display: grid;
  height: 40vw;
  grid-template: 1fr / 100%;
  place-items: center;
}

.loader p {
  font-size: 10vw;
  font-family: 'Oasis';
}

.loader p span {
  font-family: 'Oasis';
  color: aqua;
}

@media (max-width: 400px) {
  .loader {
    height: 40vw;
  }
}


@media (max-width: 450px) {
  .loader {
    top: 50vh;
    height: 20vw;
  }

  #loader-icon {
    height: 5px;
    width: 80px;
  }
  .nft .main-games{
    height: auto;
  }
}

@media (min-width: 451px) {
  .nft .main-games{
    height: 600px;
  }
}

@media (max-width: 768px) {
  .loader {
    height: 15vw;
  }

  #loader-icon {
    height: 5px;
    width: 60px;
  }
}

#loader-icon {
  width: 400px;
  height: 10px;
  margin: 0 auto;
}


.error-404 .error-container p{
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.error-container{
  max-width: 40%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
  font-size: 3rem;
}
.pacman-notfound{
  animation: floating 10s infinite;
 margin-bottom: 50px;
}

p{
  font-family: 'MotivaSansThin',sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Nexa-Heavy',sans-serif;
}
/*width*/
/* body::-webkit-scrollbar {
  width:10px;

} */
/*track*/
/* body::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0);
  
} */

/*thumb*/
/* body::-webkit-scrollbar-thumb {
  background:rgb(95, 150, 240);
  border-style:none;
  border-radius:10px;
  -webkit-box-shadow: inset 2px 2px 4px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 2px 2px 4px 0px rgba(255,255,255,1);
  box-shadow: inset 2px 2px 4px 0px rgba(255,255,255,1);
} */
/* Fonts */
/* Motiva Sans Regular*/
@font-face {
  font-family: "MotivaSans";
  src: url("./assets/fonts/MotivaSansRegular.woff.ttf");
} 
/* Motiva Sans Thin*/
@font-face {
  font-family: "MotivaSansThin";
   src: url("./assets/fonts/MotivaSansThin.ttf");
}  
/* Nexa Extra Light*/
@font-face {
  font-family: "Nexa-ExtraLight";
  src: url("./assets/fonts/Nexa-ExtraLight.ttf");
} 
/* Nexa Heavy*/ 
@font-face {
  font-family: "Nexa-Heavy";
  src: url("./assets/fonts/Nexa-Heavy.ttf");
} 
@font-face {
  font-family: "Doom";
  src: url("./assets/fonts/Doom2016Text-GOlBq.ttf");
}  
/* Doom*/ 
@font-face {
  font-family: "Oasis";
  src: url("./assets/fonts/Oasis-BW0JV.ttf");
} 
body::before {
  content: "";
  position: fixed;
  top: -50px;
  left: -50px; 
  width: calc(100% + 100px); 
  height: 50px; 
  box-shadow: 0 0 50px rgba(0, 0, 0, 5); 
  z-index: 100;
}
